*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#ignore intellij files
.idea
.DS_Store
MestBusBookingSystem.iml

#ignore copies of text files
bus1_copy.txt
bus2_copy.txt
